<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angsentech.ssm.mapper.UserMapper">
	<resultMap id="baseMap" type="com.angsentech.ssm.entity.User">
		<id column="id" property="id"/>
		<result column="user_name" property="userName"/>
		<result column="pass_word" property="passWord"/>
		<result column="real_name" property="realName"/>
	</resultMap>
	<resultMap id="userMap" extends="baseMap" type="com.angsentech.ssm.entity.User">
		<collection property="roleSet" ofType="com.angsentech.ssm.entity.Role">
			<id column="role_id" property="roleId"/>
			<result column="role_name" property="roleName" />
			<result column="remark" property="remark"/>
		</collection>
		<collection property="PermissionSet" ofType="com.angsentech.ssm.entity.Permission">
			<id column="permission_id" property="id"/>
			<result column="permission_name" property="name" />
			<result column="remark" property="remark"/>
		</collection>
	</resultMap>
	
	<!-- 基本列 -->
	<sql id="user_Column_List">
		t.id,t.user_name,t.pass_word,t.real_name
	</sql>
	
	<!-- 登录认证列 -->
	<sql id="userLogin_Column_List">
    	t.id,t.user_name,t.pass_word,t.real_name,p.name AS permissionName,p.id AS permission_id,r.role_name AS roleName,r.id AS role_id
  	</sql>
	
	<!-- 查询用户条件 -->
	<sql id="query_Condition">
		<where>
		</where>
	</sql>
	
	<!-- 添加用户-->
	<insert id="add" parameterType="com.angsentech.ssm.entity.User" >
		insert
			into
		t_user
			(user_name,pass_word,real_name)
		values
			(#{userName},#{passWord},#{realName})
	</insert>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="Long">
		delete from t_user t where t.id=#{id}
	</delete>
	
	<!-- 更新用户 -->
	<update id="update" parameterType="com.angsentech.ssm.entity.User">
		update
			t_user
		<set>
			<if test="userName != null and userName !=''">
			user_name =#{userName},
			</if>
			<if test="passWord != null and passWord !=''">
			pass_word =#{passWord},
			</if>
			<if test="realName != null and realName !=''">
			real_name =#{realName},
			</if>
		</set>
		where 
			id=#{id}
	</update>
	
	<!-- 查询用户数量 -->
	<select id="queryObjsCount" parameterType="com.angsentech.ssm.entity.User" resultType="INTEGER">
		select
			count(1)
		from
			t_user t
		<include refid="query_Condition"></include>
	</select>
	
	<!-- 分页查找用户列表 -->
	<select id="queryObjsList" parameterType="com.angsentech.ssm.entity.User" resultMap="baseMap">
		select 
			<include refid="user_Column_List"></include>
		from 
			t_user t 
	</select>
	

	<!-- 根据id查找用户信息 -->
	<select id="findObjByid" parameterType="Long" resultMap="baseMap">
		select 
			<include refid="user_Column_List"></include>
		from 
			t_user t
		where
			t.id=#{id}
	</select>
	
	<!-- 用户登录 -->
	<select id="userLogin" parameterType="com.angsentech.ssm.entity.User" resultMap="baseMap">
		select
    		<include refid="userLogin_Column_List"/>
    	from
    		t_user t
   			LEFT JOIN t_user_role ur ON  ur.user_id = t.id
    		LEFT JOIN t_role r ON  r.id = ur.role_id
    		LEFT JOIN t_role_permission rp ON  rp.role_id = r.id
    		LEFT JOIN t_permission p ON  p.id = rp.permission_id
    	where
    		t.user_name =#{userName}
    	and
    		t.pass_word =#{passWord}
	</select>
	 <!-- 添加用户角色 -->
  <insert id="insertUserRole" parameterType="com.angsentech.ssm.entity.User">
    insert
    into
    t_user_role
    (role_id,user_id)
    values
    <foreach collection="roleId" item="item" index="index" separator="," >
      (#{id},#{item})
    </foreach>
  </insert>
  <!-- 删除用户角色 -->
  <delete id="deleteUserRole" parameterType="Long">
    delete from
      t_user_role
    where
    user_id =#{userId}
  </delete>
	
</mapper>  